.container {max-width: 1280px;}
.container.container-post-list {max-width: 1040px;}
a img {cursor: pointer;}
a img:hover, a img:focus {cursor: pointer;}
a:focus, a:hover {text-decoration: unset;}
.mpcvault header.intro-header {background-image: none!important;}
.mpcvault .navbar-custom .nav li a {text-transform: unset;font-family: 'Inter-SemiBold';font-size: 16px;line-height: 20px;padding: 10px 24px;font-weight: unset;color: #000000;}
.mpcvault .navbar-custom .nav li a.sign-in:hover {color: #000;}
.mpcvault .navbar-custom .nav li a.sign-up {background: #3147FF;border-radius: 2000px;color: #ffffff;}
.mpcvault .navbar-custom .nav li a.sign-up:hover {background-color: #293EEA;}
.mpcvault .navbar-right {padding-top: 8px;}

.flex-box {display: flex;}
.flex-box .flex-1 {flex:1;}
.flex-box.center {align-items: center;}
.blog-img {width: 100%;max-width: 600px;max-height: 400px;object-fit: cover;}
.post-main-title {padding-top: 160px;margin-bottom: 64px;}
.post-main-title .title {font-size: 36px;line-height: 47px;font-family: 'Inter-SemiBold';color: #000000;}
.out-links .out-link a {width: 32px;height: 32px;display: inline-block;margin: 0 10px;}
.out-links .out-link a img { width: 100%;height: 100%;cursor: pointer;}
.author-box {display: flex;align-items: center;}
.author-box img {width: 28px;height: 28px;border-radius: 28px;}
.author-box .author-name {padding-left: 8px;font-size: 14px;color: #73798C;line-height: 18px;font-family: 'Inter-Regular';}
.author-box .author-date {padding-left: 20px;position: relative;font-size: 14px;color: #73798C;line-height: 18px;font-family: 'Inter-Regular';}
.author-box .author-date::before {content: "";display: inline-block;width: 4px;height: 4px;border-radius: 4px;background-color: #73798C;position: absolute;top: 7px;left: 8px;}

.post-preview>a>.post-title {margin-top: 20px;font-size: 45px;line-height: 58px;font-family: 'Inter-Bold';color: #000000;}
.post-preview>a>.post-description {margin-top: 10px;font-size: 16px;line-height: 21px;color: #000000;font-family: 'Inter-Regular';}

.sidebar-container .start-free-box {}
.sidebar-container .start-free-box a.start-free {background: #3147FF;border-radius: 4px;width: 100%;height: 44px;display: inline-block;line-height: 44px;font-size: 16px;
    font-family: 'Inter-Medium';color: #ffffff!important;text-align: center;}
.sidebar-container .start-free-box a.start-free img {width: 20px;position: relative;left: 8px;top: -1px;}
.sidebar-container .start-free-box a.start-free:hover {text-decoration: unset;color: #ffffff;background: #293EEA;}
.footer-box {padding: 120px 0 120px;}
.footer-box  .footer {display: flex;padding-bottom: 97px;border-bottom: 1px solid #CED2DE;}
.footer-box  .footer .logo-box{flex: 1;}
.footer-box  .footer .logo-box .logo {height: 22px;}
.footer-box  .footer .logo-box .soc-box {width: 111px;text-align: center;margin-top: 26px;}
.footer-box  .footer .logo-box .soc {width: 63px;}
.footer-box  .footer .menus-box{flex: 1;}
.footer-box  .footer .menus-box .menus{display: flex;}
.footer-box  .footer .menus-box .menu-box {flex: 1; display: flex;}
.footer-box  .footer .menus-box .menus .menu {flex: 1;}
.footer-box  .footer .menus-box .menus .menu .menu-title {font-size: 15px;line-height: 20px;font-family: 'Inter-SemiBold';color: #000;}
.footer-box  .footer .menus-box .menus .menu a{display: block;font-size: 15px;line-height: 20px;font-family: 'Inter-Regular';color: #000;margin-top: 8px;}

.footer-box  .footer .menus-box .menus .menu.menu-icon {text-align: right;flex: unset;}
.footer-box  .footer .menus-box .menus .menu.menu-icon a {display: inline-block;margin: 0 12px;}
.footer-box  .footer .menus-box .menus .menu.menu-icon a img {width: 24px;}

.copy-box {font-size: 15px;line-height: 17px;font-family: 'Inter-Regular';padding-top: 24px;display: flex;}
.copy-box .com-2 {flex: 1;padding-left: 12px;}
footer {background: #F8F9FC;padding: 0;}
.side-catalog .catalog-body li {margin-bottom: 16px;}
.side-catalog .catalog-body li a {color: #73798C!important;font-size: 16px; line-height: 21px;height: 21px; font-family: 'Inter-Regular';font-weight: unset;}
.sidebar-container h5 a.catalog-toggle {color: #000000!important;font-size: 18px;line-height: 24px;font-family: 'Inter-SemiBold';}
.sidebar-container h5 a.catalog-toggle::before {content: '';}
.sidebar-container h5 {padding-bottom: 0;margin-bottom: 16px;}
.navbar-custom.is-fixed {z-index: 99999;}
.side-catalog.fixed {z-index: 1;background: #ffffff;height: auto;}
/* content */
.intro-header .mpcvault-post-row  {padding: 128px 0 0;}
.intro-header .post-heading.post-mpc-heading {padding: 0;}
.post-container .blog-title {font-family: 'Inter-Bold';font-size: 45px;line-height: 58px;color: #000000;margin: 0;}
.post-container .blog-description {font-size: 16px;line-height:21px;color: #73798C;font-family: 'Inter-Regular';margin-top: 16px;}
.post-container .author-info-box {display: flex;align-items: center;margin-top: 40px;}
.post-container .author-info-box .written-by {flex: 1;}
.post-container .author-info-box .published-on {flex: 1;}
.post-container .author-info-box {display: flex;align-items: center;}
.post-container .author-info-box .author-label {font-size: 14px;line-height: 18px;height: 18px;color: #73798C;font-family: 'Inter-Regular';}
.post-container .author-info-box .author-content {font-size: 16px;line-height: 21px;color: #000000;font-family: 'Inter-Regular';margin-top: 14px;}
.post-container .author-info-box .author-content .user-box {position: relative;padding-left: 36px;}
.post-container .author-info-box .author-content .user-box img {margin: 0;width: 28px;height: 28px;border-radius: 28px;position: absolute;top: -5px;left: 0;}
.post-container .author-info-box .out-links .out-link {margin-left: 24px;border: 1px solid #EDEEF3;width: 32px;line-height: 30px;display: inline-block;border-radius: 32px;text-align: center;height: 32px;}
.post-container .author-info-box .out-links .out-link img {width: 18px;margin: 0;display: inline-block;}
.post-container .author-info-box .out-links .out-link img.link-in {position: relative;top: -1px; width: 16px;}
.mpcvault-post-content {border: 1px solid #EDEEF3;border-left: 0;border-right: 0;margin-top: 67.5px;padding: 64px 0 40px;}
.post-container .mpcvault-post-content h2::before {display: none;}
.post-container h1, .post-container h2, .post-container h3, .post-container h4, .post-container h5, .post-container h6 {margin: 40px 0 0;}
.post-container h1:first-child, .post-container h2:first-child, .post-container h3:first-child, .post-container h4:first-child, .post-container h5:first-child, .post-container h6:first-child {margin: 0;}
.mpcvault-post-content p {margin: 30px 0;}
.post-container .mpcvault-post-content h1+p, .post-container .mpcvault-post-content h2+p, .post-container .mpcvault-post-content h3+p, .post-container .mpcvault-post-content h4+p, .post-container .mpcvault-post-content h5+p, .post-container .mpcvault-post-content h6+p {margin-top: 12px;margin-bottom: 0;}
.mpcvault-post-content .highlight {margin-top: 40px;}
.post-container h2 {font-size: 28px;line-height: 36px;color: #000000;font-family: 'Inter-SemiBold';}
.mpcvault-post-content p {font-size: 14px;line-height: 18px;color: #2F3546;font-family: 'Inter-Regular';}
.mpcvault-post-content .highlight pre {background: #1E293B!important;border-radius: 4px;font-family: 'Inter-Regular';}
.mpcvault-post-content .highlight pre  span {font-style: unset!important;}

.postlist-container {padding: 0;}
.post-container .pager li>a {border: 1px solid #CED2DE;border-radius: 2px;padding: 12px 25px;font-size: 16px;line-height: 21px;color: #000000;font-family: 'Inter-SemiBold';}
.post-container .pager li>a>span {font-size: 14px;line-height: 18px;color: #73798C;font-family: 'Inter-Regular';}
.post-container .pager li>a:hover {color: #3147FF;}
.post-container .pager li>a:hover span {color: #3147FF;}
/* .postlist-container .post-preview {padding-left: 47px;} */
.postlist-container .col-lg-1, .postlist-container .col-lg-10, .postlist-container .col-lg-11, .postlist-container .col-lg-12, .postlist-container .col-lg-2, .postlist-container .col-lg-3, .postlist-container .col-lg-4, .postlist-container .col-lg-5, .postlist-container .col-lg-6, .postlist-container .col-lg-7, .postlist-container .col-lg-8, .postlist-container .col-lg-9, .postlist-container .col-md-1, .postlist-container .col-md-10, .postlist-container .col-md-11, .postlist-container .col-md-12, .postlist-container .col-md-2, .postlist-container .col-md-3, .postlist-container .col-md-4, .postlist-container .col-md-5, .postlist-container .col-md-6, .postlist-container .col-md-7, .postlist-container .col-md-8, .postlist-container .col-md-9, .postlist-container .col-sm-1, .postlist-container .col-sm-10, .postlist-container .col-sm-11, .postlist-container .col-sm-12, .postlist-container .col-sm-2, .postlist-container .col-sm-3, .postlist-container .col-sm-4, .postlist-container .col-sm-5, .postlist-container .col-sm-6, .postlist-container .col-sm-7, .postlist-container .col-sm-8, .postlist-container .col-sm-9, .postlist-container .col-xs-1, .postlist-container .col-xs-10, .postlist-container .col-xs-11, .postlist-container .col-xs-12, .postlist-container .col-xs-2, .postlist-container .col-xs-3, .postlist-container .col-xs-4, .postlist-container .col-xs-5, .postlist-container .col-xs-6, .postlist-container .col-xs-7, .postlist-container .col-xs-8, .postlist-container .col-xs-9 {padding: 0;}
.navbar-custom .navbar-brand {padding: 20px 0;}

.mpc-post-box {margin-bottom: 64px;}
.mpc-post-box:last-child {margin-bottom: 145px;}
.navbar-default .navbar-toggle .icon-bar {background-color: #888;}

.pager li>a:hover, .pager li>a:focus {color: #3147FF;background-color: #ffffff;border: 1px solid #3147FF;}
.show-by-phone {position: fixed;bottom: -1px;left: 0;right: 0;background: #ffffff;z-index: 1;padding: 12px 20px 45px;display: none;}
@media only screen and (min-width: 1170px) {
    .navbar-custom.is-fixed .nav li a {color: #000000;}
}


@media (max-width: 1000px) {
    .footer-box {padding: 68px 0 118px;}
    .footer-box .footer {display: block;padding-bottom: 50px;margin-left: -15px;margin-right: -15px;}

    .footer-box .footer .menus-box .menu-box {padding-top: 52px;}
    .footer-box .footer .menus-box .menus {display: block;}
    .footer-box .footer .menus-box .menus .menu.menu-icon {text-align: left;margin-top: 50px;}
    .footer-box .footer .menus-box .menus .menu.menu-icon a:first-child {margin-left: 0;}
    .footer-box .footer .logo-box .logo {height: 15px;}
    .footer-box .footer .logo-box .soc-box {text-align: left;}
    .container {padding-left: 20px;padding-right: 20px;}
    .post-main-title {margin-bottom: 32px;padding-top: 98px;}
    .author-box {margin-top: 24px;}
    .post-preview>a>.post-title {margin-top: 16px;font-size: 28px;line-height: 34px;margin-bottom: 0;}
    .post-preview>a>.post-description {
        margin-top: 16px;margin-bottom: 64px;
    }
    .copy-box {display: block;margin-left: -15px;margin-right: -15px;}
    .copy-box .com-1 {display: inline-block;}
    .copy-box .com-2 {display: inline-block;}
    .copy-box .copy {margin-top: 12px;}

    .post-main-title .title {font-size: 32px; line-height: 42px;}

    .post-container {padding-left: 0;padding-right: 0;}

    .intro-header .mpcvault-post-row {padding: 34px 0 60px;;}
    .post-container .blog-title {font-size: 28px; line-height: 34px;}

    .post-container .author-info-box {display: block;}
    .post-container .author-info-box .written-by {display: inline-block;vertical-align: top;width: calc(50% - 5px);}
    .post-container .author-info-box .published-on {display: inline-block;vertical-align: top;width: calc(50% - 5px);}
    .post-container .author-info-box .out-links {display: inline-block;vertical-align: top;width: calc(50% - 5px);margin-top: 32px;}

    .post-container .author-info-box .author-label {font-size: 12px;line-height: 16px;}
    .post-container .author-info-box .author-content {font-size: 14px;line-height: 18px;margin-top: 10px;}
    .post-container .author-info-box .author-content .user-box img {top: -6px;}

    .post-container .author-info-box .out-links .out-link {margin-left: unset;margin-right: 24px;}

    .mpcvault-post-content {margin-top: 44px;padding: 44px 0 40px;}

    .post-container h2 {font-size: 24px;line-height: 31px;}

    .mpcvault-post-content p {margin: 30px 0 43px;}

    .post-container .pager li.previous {width: 100%;float: unset;}
    .post-container .pager li.previous a {text-transform: unset;}
    .post-container .pager li.next {width: 100%;float: unset;}
    .post-container .pager li.next a{margin-top: 24px;text-transform: unset;}

    #huxblog_navbar .navbar-collapse {height: 100%;position: absolute;max-height: unset;left: 0;right: 0;width: 100%; padding: 0 31px;box-shadow: none;}

    #huxblog_navbar.in {position: fixed;left: 0;right: 0;top: 56px;bottom: 0;background: #ffffff;}
    .navbar-nav {margin: 0;}
    
    
    

    .navbar-toggle .navbar-toggle-img {display: none;width: 24px;}
    .navbar-toggle.show .navbar-toggle-img {display: unset;}
    .navbar-toggle.show .icon-bar {display: none;}
    .navbar-toggle.show {padding: 10px 14px;}
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #000000;
    }
     
    .show-by-phone {display: unset;}
    .show-by-phone .start-free-box {}
    .show-by-phone .start-free-box a.start-free {background: #3147FF;border-radius: 4px;width: 100%;height: 44px;display: inline-block;line-height: 44px;font-size: 16px;
    font-family: 'Inter-Medium';color: #ffffff!important;text-align: center;}
    .show-by-phone .start-free-box a.start-free img {width: 20px;    display: inline-block;margin: 0;position: relative;left: 8px;top: -2px;}
    .show-by-phone .start-free-box a.start-free:hover {text-decoration: unset;color: #ffffff;background: #293EEA;}
}

@media (max-width: 768px) {
    .postlist-container .flex-box {display: block;}
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {margin: 0;margin-right: -15px;}
    .row {margin: 0;}
    .mpcvault .navbar-right {padding-top: 80px;}
    .mpcvault .navbar-custom #huxblog_navbar .nav li a.sign-up {margin-top: 16px;}
    .mpcvault .navbar-custom #huxblog_navbar .nav li a {text-align: center;font-size: 15px; line-height: 20px;}
    .mpcvault .navbar-custom #huxblog_navbar .nav li a.sign-in  {background: #000000;border-radius: 2000px; color: #ffffff;}
}