

.mpcvault header.intro-header {background-image: none!important;}
.mpcvault .navbar-custom .nav li a {text-transform: unset;font-family: 'Inter-SemiBold';font-size: 16px;line-height: 20px;padding: 10px 24px;font-weight: unset;color: #000000;}
.mpcvault .navbar-custom .nav li a.sign-up {background: #3147FF;border-radius: 2000px;color: #ffffff;}

.mpcvault .navbar-right {padding-top: 8px;}

.flex-box {display: flex;}
.flex-box .flex-1 {flex:1;}
.flex-box.center {align-items: center;}
.blog-img {width: 100%;}
.post-main-title {padding-top: 160px;margin-bottom: 64px;}
.post-main-title .title {font-size: 36px;line-height: 47px;font-family: 'Inter-SemiBold';color: #000000;}
.out-links .out-link a {width: 32px;height: 32px;display: inline-block;margin: 0 10px;}
.out-links .out-link a img { width: 100%;height: 100%;cursor: pointer;}
.author-box {display: flex;align-items: center;}
.author-box img {width: 28px;height: 28px;border-radius: 28px;}
.author-box .author-name {padding-left: 8px;font-size: 14px;color: #73798C;line-height: 18px;font-family: 'Inter-Regular';}
.author-box .author-date {padding-left: 20px;position: relative;font-size: 14px;color: #73798C;line-height: 18px;font-family: 'Inter-Regular';}
.author-box .author-date::before {content: "";display: inline-block;width: 4px;height: 4px;border-radius: 4px;background-color: #73798C;position: absolute;top: 7px;left: 8px;}

.post-preview>a>.post-title {margin-top: 20px;font-size: 45px;line-height: 58px;font-family: 'Inter-Bold';color: #000000;}
.post-preview>a>.post-description {margin-top: 10px;font-size: 16px;line-height: 21px;color: #000000;font-family: 'Inter-Regular';}

.sidebar-container .start-free-box {}
.sidebar-container .start-free-box a.start-free {background: #3147FF;border-radius: 4px;width: 100%;height: 44px;display: inline-block;line-height: 44px;font-size: 16px;
    font-family: 'Inter-Medium';color: #ffffff!important;text-align: center;}
.sidebar-container .start-free-box a.start-free img {width: 20px;}
.sidebar-container .start-free-box a.start-free:hover {text-decoration: unset;color: #ffffff;background: #3147FF;}
.footer-box {padding: 127px 0 139px;}
.footer-box  .footer {display: flex;padding-bottom: 97px;border-bottom: 1px solid #CED2DE;}
.footer-box  .footer .logo-box{flex: 1;}
.footer-box  .footer .logo-box .logo {height: 22px;}
.footer-box  .footer .logo-box .soc-box {width: 111px;text-align: center;margin-top: 26px;}
.footer-box  .footer .logo-box .soc {width: 63px;}
.footer-box  .footer .menus-box{flex: 1;}
.footer-box  .footer .menus-box .menus{display: flex;}
.footer-box  .footer .menus-box .menu-box {flex: 1; display: flex;}
.footer-box  .footer .menus-box .menus .menu {flex: 1;}
.footer-box  .footer .menus-box .menus .menu .menu-title {font-size: 15px;line-height: 20px;font-family: 'Inter-SemiBold';color: #000;}
.footer-box  .footer .menus-box .menus .menu a{display: block;font-size: 15px;line-height: 20px;font-family: 'Inter-Regular';color: #000;margin-top: 8px;}

.footer-box  .footer .menus-box .menus .menu.menu-icon {text-align: right;flex: unset;}
.footer-box  .footer .menus-box .menus .menu.menu-icon a {display: inline-block;margin: 0 12px;}
.footer-box  .footer .menus-box .menus .menu.menu-icon a img {width: 24px;}

.copy-box {font-size: 15px;line-height: 17px;font-family: 'Inter-Regular';padding-top: 24px;display: flex;}
.copy-box .com-2 {flex: 1;padding-left: 12px;}
footer {background: #F8F9FC;}
.side-catalog .catalog-body li {margin-bottom: 16px;}
.side-catalog .catalog-body li a {color: #73798C!important;font-size: 16px; line-height: 21px;height: 21px; font-family: 'Inter-Regular';font-weight: unset;}
.sidebar-container h5 a.catalog-toggle {color: #000000!important;font-size: 18px;line-height: 24px;font-family: 'Inter-SemiBold';}
.sidebar-container h5 a.catalog-toggle::before {content: '';}
.sidebar-container h5 {padding-bottom: 0;margin-bottom: 16px;}


/* content */
.intro-header .mpcvault-post-row  {padding: 160px 0 20px;}
.intro-header .post-heading.post-mpc-heading {padding: 0;}
.post-container .blog-title {font-family: 'Inter-Bold';font-size: 45px;line-height: 58px;color: #000000;margin: 0;}
.post-container .blog-description {font-size: 16px;line-height:21px;color: #73798C;font-family: 'Inter-Regular';margin-top: 16px;}
.post-container .author-info-box {display: flex;align-items: center;margin-top: 40px;}
.post-container .author-info-box .written-by {flex: 1;}
.post-container .author-info-box .published-on {flex: 1;}
.post-container .author-info-box {display: flex;align-items: center;}
.post-container .author-info-box .author-label {font-size: 14px;line-height: 18px;height: 18px;color: #73798C;font-family: 'Inter-Regular';}
.post-container .author-info-box .author-content {font-size: 16px;line-height: 21px;color: #000000;font-family: 'Inter-Regular';margin-top: 14px;}
.post-container .author-info-box .author-content .user-box {position: relative;padding-left: 36px;}
.post-container .author-info-box .author-content .user-box img {margin: 0;width: 28px;height: 28px;border-radius: 28px;position: absolute;top: -5px;left: 0;}
.post-container .author-info-box .out-links .out-link {margin-left: 24px;}
.post-container .author-info-box .out-links .out-link img {width: 18px;margin: 0;display: inline-block;}

.mpcvault-post-content {border: 1px solid #EDEEF3;border-left: 0;border-right: 0;margin-top: 67.5px;padding: 64px 0 40px;}
.post-container .mpcvault-post-content h2::before {display: none;}
.post-container h1, .post-container h2, .post-container h3, .post-container h4, .post-container h5, .post-container h6 {margin: 40px 0 0;}
.post-container h1:first-child, .post-container h2:first-child, .post-container h3:first-child, .post-container h4:first-child, .post-container h5:first-child, .post-container h6:first-child {margin: 0;}
.mpcvault-post-content p {margin: 30px 0;}
.post-container .mpcvault-post-content h1+p, .post-container .mpcvault-post-content h2+p, .post-container .mpcvault-post-content h3+p, .post-container .mpcvault-post-content h4+p, .post-container .mpcvault-post-content h5+p, .post-container .mpcvault-post-content h6+p {margin-top: 12px;margin-bottom: 0;}
.mpcvault-post-content .highlight {margin-top: 40px;}
.post-container h2 {font-size: 28px;line-height: 36px;color: #000000;font-family: 'Inter-SemiBold';}
.mpcvault-post-content p {font-size: 14px;line-height: 18px;color: #2F3546;font-family: 'Inter-Regular';}
.mpcvault-post-content .highlight pre {background: #1E293B!important;border-radius: 4px;font-family: 'Inter-Regular';}
.mpcvault-post-content .highlight pre  span {font-style: unset!important;}

.post-container .pager li>a {border: 1px solid #CED2DE;border-radius: 2px;padding: 12px 25px;font-size: 16px;line-height: 21px;color: #000000;font-family: 'Inter-SemiBold';}
.post-container .pager li>a>span {font-size: 14px;line-height: 18px;color: #73798C;font-family: 'Inter-Regular';}
.post-container .pager li>a:hover {color: #ffffff;}
.post-container .pager li>a:hover span {color: #ffffff;}
@media only screen and (min-width: 1170px) {
    .navbar-custom.is-fixed .nav li a {color: #000000;}
}

@media (max-width: 1000px) {
    .footer-box {padding: 127px 25px 39px;}
    .footer-box .footer {display: block;padding-bottom: 50px;}

    .footer-box .footer .menus-box .menu-box {padding-top: 52px;}
    .footer-box .footer .menus-box .menus {display: block;}
    .footer-box .footer .menus-box .menus .menu.menu-icon {text-align: left;margin-top: 50px;}
    .footer-box .footer .menus-box .menus .menu.menu-icon a:first-child {margin-left: 0;}
}