body {
}

a {
  text-decoration: none !important;
}

.main-container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 6px 0 6px;
}
.list-inline>li.MPC-icon-decoration {
    width: 50%;
}
@media (max-width: 1080px) {
  .main-container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .list-inline>li.app-icon-decoration {
      margin-top: 50px;
  }
  footer .copyright-box {text-align: left!important;}
  footer .copyright-box .col-lg-2 {display: inline-block;text-align: left;}
  footer .copyright-box .col-lg-3 {text-align: left;}
}

/* 定义字体 */
@font-face {
  font-family: Inter-Black;
  src: url("/css/fonts/Inter-Black.ttf");
}

/* 定义字体 */
@font-face {
  font-family: Inter-Bold;
  src: url("/css/fonts/Inter-Bold.ttf");
}

/* 定义字体 */
@font-face {
  font-family: Inter-ExtraBold;
  src: url("/css/fonts/Inter-ExtraBold.ttf");
}

/* 定义字体 */
@font-face {
  font-family: Inter-ExtraLight;
  src: url("/css/fonts/Inter-ExtraLight.ttf");
}

/* 定义字体 */
@font-face {
  font-family: Inter-Light;
  src: url("/css/fonts/Inter-Light.ttf");
}

/* 定义字体 */
@font-face {
  font-family: Inter-Medium;
  src: url("/css/fonts/Inter-Medium.ttf");
}

/* 定义字体 */
@font-face {
  font-family: Inter-Regular;
  src: url("/css/fonts/Inter-Regular.ttf");
}

/* 定义字体 */
@font-face {
  font-family: Inter-SemiBold;
  src: url("/css/fonts/Inter-SemiBold.ttf");
}

/* 定义字体 */
@font-face {
  font-family: Inter-Thin;
  src: url("/css/fonts/Inter-Thin.ttf");
}

@media (min-width: 1700px) {
  .container {
    width: 1650px;
  }

  .sidebar-container .short-about .list-inline > li {
    font-size: 15px;
  }
}

@media (max-width: 1700px) {
  .sidebar-container .short-about .list-inline > li {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  .post-container,
  .sidebar-container {
    padding-right: 5%;
  }
}

@media (min-width: 768px) {
  .post-container,
  .sidebar-container {
    padding-right: 5%;
  }
}

.sidebar-container {
  color: #bfbfbf;
  font-size: 15px;
}

.sidebar-container h5 {
  color: gray;
  padding-bottom: 1em;
}

.sidebar-container h5 a {
  color: gray !important;
  text-decoration: none;
}

.sidebar-container a {
  color: #bfbfbf !important;
}

.sidebar-container a:hover,
.sidebar-container a:active {
  color: #0085a1 !important;
}

.sidebar-container .tags a {
  border-color: #bfbfbf;
}

.sidebar-container .tags a:hover,
.sidebar-container .tags a:active {
  border-color: #0085a1;
}

.sidebar-container .short-about img {
  width: 80%;
  display: block;
  border-radius: 5px;
  margin-bottom: 20px;
}

.sidebar-container .short-about p {
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar-container .short-about .list-inline > li {
  padding-left: 0;
  margin-right: -15px;
}

body {
  font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC",
    "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei",
    "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN",
    "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC",
    "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-size: 17px;
  color: #404040;
  overflow-x: hidden;
}

p {
  margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC",
    "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei",
    "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN",
    "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC",
    "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  line-height: 1.1;
  font-weight: 700;
}

h4 {
  font-size: 21px;
}

article {
  overflow: hidden;
}

blockquote {
  color: gray;
  font-style: italic;
  font-size: 0.95em;
  margin: 20px 0 20px;
}

blockquote p {
  margin: 0;
}

small.img-hint {
  display: block;
  margin-top: -20px;
  text-align: center;
}

br + small.img-hint {
  margin-top: -40px;
}

img.shadow {
  box-shadow: rgba(0, 0, 0, 0.258824) 0 2px 5px 0;
}

@media screen and (max-width: 768px) {
  select {
    -webkit-appearance: none;
    margin-top: 15px;
    color: #337ab7;
    border-color: #337ab7;
    padding: 0 0.4em;
    background: #fff;
  }
}

.table th,
.table td {
  border: 1px solid #eee !important;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: #fff;
}

pre,
.table-responsive {
  -webkit-overflow-scrolling: touch;
}

pre code {
  display: block;
  width: auto;
  white-space: pre;
  word-wrap: normal;
}

.post-container a {
  color: #337ab7;
}

.post-container a:hover,
.post-container a:focus {
  color: #0085a1;
}

.post-container h1,
.post-container h2,
.post-container h3,
.post-container h4,
.post-container h5,
.post-container h6 {
  margin: 30px 0 10px;
}

.post-container h5 {
  font-size: 19px;
  font-weight: 600;
  color: gray;
}

.post-container h5 + p {
  margin-top: 5px;
}

.post-container h6 {
  font-size: 17px;
  font-weight: 600;
  color: gray;
}

.post-container h6 + p {
  margin-top: 5px;
}

.post-container ul,
.post-container ol {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .post-container ul,
  .post-container ol {
    padding-left: 30px;
  }
}

@media screen and (max-width: 500px) {
  .post-container ul,
  .post-container ol {
    padding-left: 20px;
  }
}

.post-container ol ol,
.post-container ol ul,
.post-container ul ol,
.post-container ul ul {
  margin-bottom: 5px;
}

.post-container li p {
  margin: 0;
  margin-bottom: 5px;
}

.post-container li h1,
.post-container li h2,
.post-container li h3,
.post-container li h4,
.post-container li h5,
.post-container li h6 {
  line-height: 2;
  margin-top: 20px;
}

@media only screen and (max-width: 950px) {
  .navbar-default .navbar-collapse {
    z-index: 50;
    max-height: 600px;
    border: none;
    background: #fff;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px,
      rgba(0, 0, 0, 0.239216) 0 1px 4px;
    border-radius: 2px;
    width: 170px;
    float: right;
    margin: 0;
    display: none;
  }

  #huxblog_navbar {
    z-index: 100;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: top right;
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: scaleX(0);
    -webkit-transform-origin: top right;
    -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  }

  #huxblog_navbar a {
    position: relative;
    z-index: 100;
    font-size: 13px;
    line-height: 28px;
    display: inline-block;
  }

  #huxblog_navbar .navbar-collapse {
    height: 0;
    transform: scaleY(0);
    transform-origin: top right;
    transition: transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: top right;
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #huxblog_navbar li {
    opacity: 0;
    transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
    -webkit-transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 205ms;
  }

  #huxblog_navbar.in {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    opacity: 1;
  }

  #huxblog_navbar.in .navbar-collapse {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }

  #huxblog_navbar.in li {
    opacity: 1;
    width: auto;
    height: 30px;
    font-family: "Inter-Regular";
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: #2f3546;
  }
}

.navbar-custom {
  background: 0 0;
  border: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1080px;
  z-index: 50;
  font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC",
    "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei",
    "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN",
    "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC",
    "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
}

.navbar-custom .navbar-brand {
  margin-right: 80px;
  font-weight: 800;
  color: #1f222e;
  height: 56px;
  line-height: 25px;
}

@media (max-width: 367px) {
  .navbar-custom .navbar-brand {
    margin-right: 0px;
    font-weight: 800;
    color: #1f222e;
    height: 56px;
    line-height: 25px;
  }
}

.navbar-custom .navbar-brand .nav-logo-img {
  width: 138px;
  height: auto;
  margin-left: 13px;
}

@media (min-width: 767px)  {
  .navbar-custom .navbar-brand .nav-logo-img {
    margin-left: -2px;
  }
}

.navbar-custom .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-custom .navbar-self-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;
  height: 34px;
  background: #000000;
  border-radius: 2000px;
  text-align: center;
}

@media (max-width: 950px) {
  .navbar-custom .navbar-self-btn {
    display: none;
  }
}

.navbar-custom .req-demo {
  position: absolute;
  right: 110px;
  top: 42%;
  transform: translateY(-50%);
  cursor: pointer;
}

.navbar-custom .req-demo:hover {
  background-color: #1e1e1e;
}

.navbar-custom .log-in {
  position: absolute;
  right: 12px;
  top: 42%;
  transform: translateY(-50%);
  cursor: pointer;
  text-decoration: none;
}

.navbar-custom .log-in:hover {
  background-color: #1e1e1e;
}

.navbar-custom .navbar-self-btn a {
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  font-family: "Inter-Medium";
}

.navbar-custom .nav li a {
  font-size: 12px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  text-decoration: none;
}

.navbar-custom .nav li a:active {
  background: rgba(0, 0, 0, 0.12);
}

@media (max-width: 950px) {
  .special-vis {
    display: block !important;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: 0 0;
    border-bottom: 1px solid transparent;
  }

  .navbar-custom body {
    font-size: 20px;
  }

  .navbar-custom .navbar-brand {
    color: #1f222e;
    padding: 20px;
    line-height: 20px;
  }

  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }

  .navbar-custom .nav li a {
    position: relative;
    z-index: 100;
    color: #000;
    font-family: "Inter-Medium";
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-right: -10px;
  }

  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    /* color: rgba(255, 255, 255, 0.8); */
    cursor: pointer;
  }

  .navbar-custom .nav li a:active {
    background: 0 0;
  }
}

.navbar-custom.invert .navbar-toggle:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar-custom.invert .navbar-toggle .icon-bar {
  background-color: #404040;
}

.navbar-custom.invert .navbar-brand {
  color: #404040;
}

.navbar-custom.invert .navbar-brand:hover,
.navbar-custom.invert .navbar-brand:focus {
  color: #0085a1;
}

.navbar-custom.invert .nav li a {
  color: #404040;
}

.navbar-custom.invert .nav li a:hover,
.navbar-custom.invert .nav li a:focus {
  color: #0085a1;
}

/* @media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    position: fixed;
    top: -91px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1;
  }
  .navbar-custom.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
} */
@media (min-width: 768px) {
  #self-navbar {
    float: left !important;
    margin-left: 57px;
  }
}

.intro-header-bg {
  width: 100vw;
  position: relative;
}

.intro-header {
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: 0px;
  padding-top: 120px;
  margin-bottom: 0;
  position: relative;
}

.intro-header .main-desction .main-title-container {
  max-width: 700px;
  height: 160px;
  overflow: hidden;
  transition: all;
  position: relative;
  margin-top: 40px;
}
@keyframes ani-word-trans {
  from {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-103%);
  }
  50% {
    transform: translateY(-103%);
  }
  70% {
    transform: translateY(-206%);
  }
  75% {
    transform: translateY(-206%);
  }
  95% {
    transform: translateY(-309%);
  }
  to {
    transform: translateY(-309%);
  }
}
.intro-header .main-desction .main-title-1 {
  font-family: "Inter-Bold";
  font-size: 45px;
  line-height: 52px;
  height: 100%;
  color: #3147ff;
  position: absolute;
  transition: all;
  left: 0;
  top: 0;
  animation: ani-word-trans 8s;
  animation-iteration-count: infinite;
}

.intro-header .main-desction .main-title-2 {
  font-family: "Inter-Bold";
  font-size: 45px;
  line-height: 52px;
  height: 100%;
  color: #3147ff;
  position: absolute;
  transition: all;
  left: 0;
  top: 103%;
  animation: ani-word-trans 8s;
  animation-iteration-count: infinite;
}
.intro-header .main-desction .main-title-3 {
  font-family: "Inter-Bold";
  font-size: 45px;
  line-height: 45px;
  height: 100%;
  color: #3147ff;
  position: absolute;
  transition: all;
  left: 0;
  top: 206%;
  animation: ani-word-trans 8s;
  animation-iteration-count: infinite;
}
.intro-header .main-desction .main-title-4 {
  font-family: "Inter-Bold";
  font-size: 45px;
  line-height: 52px;
  height: 100%;
  color: #3147ff;
  position: absolute;
  transition: all;
  left: 0;
  top: 309%;
  animation: ani-word-trans 8s;
  animation-iteration-count: infinite;
}

@media (max-width: 996px) {
  .intro-header .main-png {
    margin-top: 100px;
    position: relative;
  }
}

@media (min-width: 769px) and (max-width: 995px) {
  .intro-header .main-png .main-png-board {
    height: auto;
    width: 100vw;
    position: relative;
    z-index: 10;
  }
}

@media (max-width: 767px) {
  .intro-header .main-png .main-png-board {
    height: auto;
    width: 130vw;
    position: relative;
    z-index: 10;
  }

  .intro-header .main-desction .main-title,
  .intro-header .main-desction .main-title-1 {
    font-size: 36px;
    line-height: 40px;
  }

  .intro-header .main-desction .main-title-2 {
    font-size: 36px;
    line-height: 40px;
  }

  .intro-header .main-desction .main-title-3 {
    font-size: 36px;
    line-height: 40px;
  }
  .intro-header .main-desction .main-title-4 {
    font-size: 36px;
    line-height: 40px;
  }
  .navbar-custom .navbar-brand {
    padding-left: 0;
  }
}

@media (min-width: 996px) {
  .intro-header .main-png .main-png-board {
    height: auto;
    width: 1080px;
    position: relative;
    z-index: 10;
  }
}

.intro-header .main-desction .second-title {
  font-family: "Inter-Bold";
  max-width: 700px;
  font-size: 30px;
  line-height: 40px;
  color: #000;
  margin-bottom: 32px;
  margin-top: 10px;
  word-break: break-word;
}

.intro-header .main-desction .content {
  max-width: 700px;
  font-family: "Inter-Regular";
  font-size: 18px;
  line-height: 24px;
  color: #2f3546;
  word-break: break-word;
}

.intro-header .main-desction .start-btn {
  width: 123px;
  max-width: 123px;
  height: 34px;
  line-height: 32px;
  text-align: center;

  background: #3147ff;
  border-radius: 2000px;
  margin-top: 51px;
  cursor: pointer;
}

.intro-header .main-desction .start-btn:hover {
  background-color: #0e23d6;
}

.intro-header .main-desction .start-btn a {
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  font-family: "Inter-Medium";
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}

.intro-header .main-desction .start-btn img {
  margin-left: 5px;
  width: 91px;
  height: auto;
}

.intro-header.style-text {
  background: 0 0;
}

.intro-header.style-text .site-heading,
.intro-header.style-text .post-heading,
.intro-header.style-text .page-heading {
  padding: 85px 0 20px;
  color: #404040;
}

.intro-header.style-text .site-heading .subheading,
.intro-header.style-text .post-heading .subheading,
.intro-header.style-text .page-heading .subheading {
  margin-bottom: 15px;
}

.intro-header.style-text .post-heading .meta a,
.intro-header.style-text .tags a,
.intro-header.style-text .tags .tag {
  border-color: #404040;
  color: #404040;
}

.intro-header.style-text .tags a:hover,
.intro-header.style-text .tags .tag:hover,
.intro-header.style-text .tags a:active,
.intro-header.style-text .tags .tag:active {
  background-color: rgba(0, 0, 0, 0.05);
}

@media only screen and (min-width: 768px) {
  .intro-header {
    z-index: 2;
    margin-bottom: 20px;
  }
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 85px 0 55px;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}

.intro-header .site-heading {
  padding: 95px 0 70px;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading {
    padding: 150px 0;
  }
}

.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}

.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}

.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC",
    "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei",
    "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN",
    "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC",
    "WenQuanYi Micro Hei", SimSun, sans-serif;
  z-index: 0;
  line-height: 1.7;
  font-size: 18px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}

.intro-header .post-heading h1 {
  font-size: 30px;
  margin-bottom: 24px;
}

.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}

.intro-header .post-heading .meta .a {
  color: #404040;
}

.intro-header .post-heading .subheading {
  font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC",
    "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei",
    "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN",
    "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC",
    "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-size: 17px;
  line-height: 1.4;
  font-weight: 400;
  margin: 10px 0 30px;
  margin-top: -5px;
}

.intro-header .post-heading .meta {
  font-family: Lora, "Times New Roman", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
}

.intro-header .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }

  .intro-header .post-heading .subheading {
    font-size: 30px;
  }

  .intro-header .post-heading .meta {
    font-size: 20px;
  }
}

.team-management {
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: 23px;
  padding-top: 60px;
  margin-bottom: 0;
  position: relative;
}

@media (max-width: 1180px) {
  .team-management {
    margin-top: 40px;
  }
}

.team-management .description {
}

.team-management .description .main-title {
  width: 400px;
  height: auto;
  font-family: "Inter-SemiBold";
  font-size: 18px;
  line-height: 20px;
  color: #3147ff;
  word-break: word-break;
  margin: 0 0 16px;
}

.team-management .description .second-title {
  max-width: 700px;
  min-height: 82px;
  font-family: "Inter-Bold";
  font-size: 34px;
  line-height: 120%;
  color: #000000;
  margin: 0 0 24px;
}

.team-management .description .content {
  max-width: 913px;
  min-height: 72px;
  font-family: "Inter-Regular";
  font-size: 18px;
  line-height: 24px;
  color: #2f3546;
}

.team-management .box-list {
  margin-top: 10px;
}

@media (max-width: 1180px) {
  .team-management .box-list {
    margin-top: 40px;
  }
}

.team-management .box-list .box-item {
  margin-top: 80px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-tom: 80px;
}

.team-management .box-list .box-item .logo {
}

.team-management .box-list .box-item .title {
  min-width: 150px;
  /* max-height: 20px; */
  width: auto;
  height: auto;

  font-family: "Inter-SemiBold";
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  white-space: none;
}

.team-management .box-list .box-item .content {
  max-width: 320px;
  max-height: 100px;
  width: auto;
  height: auto;

  font-family: "Inter-Regular";
  font-size: 15px;
  line-height: 20px;
  color: #2f3546;
  word-break: word-break;
  margin-top: 12px;
}

@media (max-width: 767px) {
  .team-management .box-list .box-item .content {
    max-width: none;
  }
}

.team-management .bg {
  margin-top: 151px;
  margin-left: -22px;
}

.team-management .bg img {
  height: 586px;
  width: auto;
}

.build-for-devloper-bg {
  background-color: #0a1727;
  min-height: 1100px;
  height: auto;
  width: 100vw;
  transform: skewY(-5deg);
  margin-top: -290px;
  overflow: hidden;
}

.build-for-devloper {
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: 150px;
  padding-top: 60px;
  margin-bottom: 0;
  height: auto;
  transform: skewY(5deg);
  position: relative;
}

.build-for-devloper .left-section {
  position: relative;
}

.build-for-devloper .build-for-devloper-flex {
  display: flex;
  justify-content: space-between;
}

.build-for-devloper .left-section {
}

.build-for-devloper .left-section .description {
}

.build-for-devloper .left-section .description .main-title {
  width: auto;
  min-height: 20px;
  font-family: "Inter-SemiBold";
  font-size: 18px;
  line-height: 20px;
  color: #38bdf8;
  margin-bottom: 16px;
}

.build-for-devloper .left-section .description .sencond-title {
  width: auto;
  min-height: 41px;
  font-family: "Inter-Bold";
  font-size: 34px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 24px;
}

.build-for-devloper .left-section .description .content {
  width: auto;
  min-height: 96px;
  font-family: "Inter-Regular";
  font-size: 18px;
  line-height: 24px;
  color: #ced2de;
}

.build-for-devloper .left-section .description .read-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;
  width: auto;
  max-width: 163px;
  height: 34px;
  background: #38bdf8;
  border-radius: 2000px;
  margin-top: 51px;
  cursor: pointer;
  line-height: 20px;
  text-align: center;
}
.build-for-devloper .left-section .description .read-btn a {
  color: #0a1727;
  font-size: 15px;
  font-family: "Inter-Medium";
}

.build-for-devloper .left-section .description .read-btn a {
  text-decoration: none;
}

.build-for-devloper .left-section .description .read-btn:hover {
  background-color: #0ea6ea;
}

.build-for-devloper .left-section .box-list {
  margin-top: 80px;
}

.build-for-devloper .left-section .box-list .box-item {
  width: 210px;
  margin-right: 57px;
  margin-top: 36px;
}

@media (max-width: 768px) {
  .build-for-devloper .left-section .box-list .box-item {
    width: auto;
  }
}

.build-for-devloper .left-section .box-list .box-item .logo {
}

.build-for-devloper .left-section .box-list .box-item .main-title {
  width: auto;
  height: auto;
  font-family: "Inter-SemiBold";
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 12px;
}

.build-for-devloper .left-section .box-list .box-item .content {
  width: 205px;
  height: 100px;
  font-family: "Inter-Regular";
  font-size: 15px;
  line-height: 20px;
  color: #ced2de;
  margin-top: 12px;
}

@media (max-width: 768px) {
  .build-for-devloper .left-section .box-list .box-item .main-title {
    width: auto;
  }

  .build-for-devloper .left-section .box-list .box-item .content {
    width: auto;
    height: auto;
  }
}

@media (max-width: 1180px) {
  .build-for-devloper .right-section {
    margin-top: 80px;
  }
}

.build-for-devloper .right-section img {
  width: 740px;
  height: auto;
}

@media (max-width: 768px) {
  .build-for-devloper .right-section img {
    width: 100vw;
    height: auto;
  }
}

.mpc-vault-section {
  margin-top: 220px;
}

@media (max-width: 1180px) {
  .mpc-vault-section {
    margin-top: 120px;
  }
}

.mpc-vault-section .mpc-vault-section-flex {
  display: flex;
}

.mpc-vault-section .description {
}

.mpc-vault-section .description .main-title {
  width: 145px;
  height: 20px;
  font-family: "Inter-SemiBold";
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #3147ff;
  margin-bottom: 30px;
  white-space: nowrap;
}

.mpc-vault-section .description .second-title {
  width: auto;
  height: auto;
  font-family: "Inter-Bold";
  font-size: 34px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 24px;
}

.mpc-vault-section .description .content {
  width: auto;
  height: auto;
  font-family: "Inter-Regular";
  font-size: 18px;
  line-height: 24px;
  color: #2f3546;
  margin-bottom: 48px;
}

.mpc-vault-section .description .supports {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mpc-vault-section .description .supports .left {
}

.mpc-vault-section .description .supports .left img {
  width: 47px;
  height: 47px;
  margin-right: 19px;
}

.mpc-vault-section .description .supports .right {
  padding-right: 100px;
  flex: 1;
}

.mpc-vault-section .description .supports .right .supports-title {
  width: 165px;
  height: auto;
  line-height: 24px;
  font-family: "Inter-SemiBold";
  font-size: 18px;
  color: #2f3546;
  white-space: nowrap;
}

.mpc-vault-section .description .supports .right .supports-content {
  width: auto;
  height: auto;
  font-family: "Inter-Regular";
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #2f3546;
}
@media (min-width: 968px) {
  .mpc-vault-section .description .supports .right .supports-content {
    width: 800px;
  }
}

.mpc-vault-section .galary {
}

@media (max-width: 1180px) {
  .mpc-vault-section .galary {
    margin-top: 80px;
  }
}

.mpc-vault-section .galary .main-number {
  width: 292px;
  height: 73px;
  font-family: "Inter-Bold";
  font-size: 60px;
  line-height: 73px;
  color: #3147ff;
}

.mpc-vault-section .galary .second-number {
  width: 258px;
  height: 36px;
  font-family: "Inter-Medium";
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 52px;
}

.mpc-vault-section .galary .galary-flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.mpc-vault-section .galary .galary-flex img {
  width: 46px;
  height: 46px;
  margin-top: 16px;
  margin-right: 16px;
}

.key-management-trail-bg {
  height: 600px;
  width: 100vw;
  background: #0a1727;
  transform: skewY(-10deg);
  position: relative;
  top: 615px;
  z-index: -1;
}

.key-management-bg {
  margin-top: 170px;
  min-height: 850px;
  height: auto;
  width: 100vw;
  background: #0a1727;
}

.key-management-bg .key-management {
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: 150px;
  padding-top: 60px;
  margin-bottom: 0;
  height: auto;
}

.key-management-bg .key-management .key-management-title {
  width: auto;
  height: auto;
  font-family: "Inter-SemiBold";
  font-size: 18px;
  line-height: 30px;
  color: #38bdf8;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 25px;
  margin-bottom: 16px;
}

@media (max-width: 1180px) {
  .key-management-trail-bg {
    height: auto;
    top: 215px;
  }

  .key-management-bg {
    padding-top: 20px;
    min-height: 850px;
    height: auto;
    width: 100vw;
    background: #0a1727;
  }

  .key-management-bg .key-management {
    margin-top: 50px;
    padding-top: 0;
    padding-bottom: 50px;
  }
}

.key-management-bg .key-management .key-management-content {
  width: auto;
  height: 41px;
  font-family: "Inter-Bold";
  font-size: 34px;
  line-height: 120%;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-bottom: 70px;
}

.key-management-bg .key-management .key-management-box-list {
}

.key-management-bg .key-management .key-management-box-item {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .key-management-box-item-3 {
    margin-top: 8px !important;
  }
}

.key-management-bg .key-management .key-management-box-image {
  min-height: 200px;
  min-width: 285px;
}

.key-management-bg .key-management .key-management-box-image figure {
  float: left;
}

.key-management-bg .key-management .key-management-box-title {
  width: auto;
  height: auto;
  font-family: "Inter-SemiBold";
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 12px;
  margin-top: 52px;
}

.key-management-bg .key-management .key-management-box-content {
  width: auto;
  height: auto;
  font-family: "Inter-Regular";
  font-size: 15px;
  line-height: 20px;
  color: #ced2de;
}

.self-approch {
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: 150px;
  padding-top: 60px;
  margin-bottom: 0;
  height: auto;
  overflow: hidden;
}

.self-approch .description {
}

.self-approch .bg {
}

@media (max-width: 1180px) {
  .self-approch {
    margin-top: 40px;
  }

  .bg {
    margin: 40px 0 0;
  }
}

.self-approch .bg img {
  height: auto;
  width: 100%;
}

.self-approch .description .main-title {
  width: auto;
  height: 20px;
  font-family: "Inter-SemiBold";
  font-size: 18px;
  line-height: 20px;
  color: #3147ff;
  margin-bottom: 16px;
  white-space: nowrap;
}

.self-approch .description .second-title {
  width: auto;
  height: auto;
  font-family: "Inter-Bold";
  font-size: 34px;
  line-height: 52px;
  color: #000000;
  margin-bottom: 24px;
}

.self-approch .description .content {
  width: auto;
  height: auto;
  font-family: "Inter-Regular";
  font-size: 18px;
  line-height: 24px;
  color: #2f3546;
}

.post-preview > a {
  color: #404040;
}

.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0085a1;
}

.post-preview > a > .post-title {
  font-size: 21px;
  line-height: 1.3;
  margin-top: 30px;
  margin-bottom: 8px;
}

.post-preview > a > .post-subtitle {
  font-size: 15px;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}

.post-preview > .post-meta > a,
.post-preview > .post-meta {
  font-family: Lora, "Times New Roman", serif;
  color: gray;
  font-size: 17px;
  font-style: italic;
  margin-top: 0;
}

.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085a1;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 10px;
  }

  .post-preview > a > .post-subtitle {
    font-size: 17px;
  }

  .post-preview .post-meta {
    font-size: 18px;
  }
}

.post-content-preview {
  font-size: 13px;
  font-style: italic;
  color: #a3a3a3;
}

.post-content-preview:hover {
  color: #0085a1;
}

@media only screen and (min-width: 768px) {
  .post-content-preview {
    font-size: 15px;
  }
}

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

footer {
  font-size: 20px;
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright-box {
  font-size: 13px;
  text-align: center;
  margin-bottom: 0;
  border-top: 1px solid #ced2de;
  padding-top: 20px;
  width: calc(100% - 1vw);
  margin: 110px auto 0;
}

@media (min-width: 1200px) {
  footer .copyright-box .left {
    text-align: left;
    padding-left: 0;
  }
  footer .copyright-box .right {
    padding-right: 0;
    text-align: right;
  }
}

footer .copyright-box a {
  color: #337ab7;
}

footer .copyright-box a:hover,
footer .copyright-box a:focus {
  color: #0085a1;
  text-decoration: none;
}

footer .decoration li {
  width: 170px;
}
@media (max-width: 1064px) {
  footer .app-icon-decoration li {
    display: flex;
    /* justify-content: flex-end; */
  }
}
@media (min-width: 1064px) {
  footer .app-icon-decoration li {
    display: flex;
    justify-content: flex-end;
  }
  footer .app-icon-decoration li a {
    display: inline-block;
    position: relative;
    left: 25px;
  }
  footer .app-icon-decoration li img {
    vertical-align: top;
  }
}
@media (max-width: 590px) {
  footer .MPC-icon-decoration {
    margin-right: 195px;
    margin-bottom: 52px;
  }
}

footer .title {
  width: auto;
  height: 20px;
  font-family: "Inter-SemiBold";
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  float: left;
  margin-top: 8px;
}

footer .link {
  width: auto;
  height: 17px;
  font-family: "Inter-Regular";
  font-size: 15px;
  line-height: 17px;
  color: #000000;
  float: left;
  margin-top: 8px;
  white-space: nowrap;
}

footer .flex {
  display: flex;
  flex-direction: column;
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: 0 0;
  box-shadow: none !important;
  resize: none;
}

.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
}

.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085a1;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee;
}

.btn {
  font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC",
    "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei",
    "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN",
    "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC",
    "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}

.btn-lg {
  font-size: 17px;
  padding: 25px 35px;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #0085a1;
  border: 1px solid #0085a1;
  color: #fff;
}

.pager {
  margin: 20px 0 0 !important;
  /*padding:0!important*/
  padding: 0 0 20px 0;
}

.pager li > a,
.pager li > span {
  font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC",
    "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei",
    "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN",
    "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC",
    "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px;
  background-color: #fff;
  border-radius: 0;
}

@media only screen and (min-width: 768px) {
  .pager li > a,
  .pager li > span {
    font-size: 14px;
    padding: 15px 25px;
  }
}

.pager li > a {
  color: #404040;
}

.pager li > a:hover,
.pager li > a:focus {
  color: #fff;
  background-color: #0085a1;
  border: 1px solid #0085a1;
  text-decoration: none;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: gray;
  background-color: #404040;
}

::-moz-selection {
  /* color: #fff; */
  /* text-shadow: none; */
  /* background: #0085a1; */
}

::selection {
  /* color: #fff; */
  /* text-shadow: none; */
  /* background: #0085a1; */
}

img::selection {
  /* color: #fff; */
  /* background: 0 0; */
}

img::-moz-selection {
  /* color: #fff;
  background: 0 0; */
}

body {
  /* webkit-tap-highlight-color: #0085a1; */
}

.tags {
  margin-bottom: -5px;
}

.tags a,
.tags .tag {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 999em;
  padding: 0 10px;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  text-decoration: none;
  margin: 0 1px;
  margin-bottom: 6px;
}

.tags a:hover,
.tags .tag:hover,
.tags a:active,
.tags .tag:active {
  color: #fff;
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .tags a,
  .tags .tag {
    margin-right: 5px;
  }
}

#tag-heading {
  padding: 70px 0 60px;
}

@media only screen and (min-width: 768px) {
  #tag-heading {
    padding: 55px 0;
  }
}

#tag_cloud {
  margin: 20px 0 15px 0;
}

#tag_cloud a,
#tag_cloud .tag {
  font-size: 14px;
  border: none;
  line-height: 28px;
  margin: 0 2px;
  margin-bottom: 8px;
  background: #d6d6d6;
}

#tag_cloud a:hover,
#tag_cloud .tag:hover,
#tag_cloud a:active,
#tag_cloud .tag:active {
  background-color: #0085a1 !important;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  #tag_cloud {
    margin-bottom: 25px;
  }
}

.tag-comments {
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .tag-comments {
    font-size: 14px;
  }
}

.t:first-child {
  margin-top: 0;
}

.listing-seperator {
  color: #0085a1;
  font-size: 21px !important;
}

.listing-seperator::before {
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .listing-seperator {
    font-size: 20px !important;
    line-height: 2 !important;
  }
}

.one-tag-list .tag-text {
  font-weight: 200;
  font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC",
    "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei",
    "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN",
    "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC",
    "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
}

.one-tag-list .post-preview {
  position: relative;
}

.one-tag-list .post-preview > a .post-title {
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
}

.one-tag-list .post-preview > a .post-subtitle {
  font-size: 12px;
}

.one-tag-list .post-preview > .post-meta {
  position: absolute;
  right: 5px;
  bottom: 0;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
}

@media only screen and (min-width: 950px) {
  .one-tag-list .post-preview {
    margin-left: 20px;
  }

  .one-tag-list .post-preview > a > .post-title {
    font-size: 18px;
    line-height: 1.3;
  }

  .one-tag-list .post-preview > a > .post-subtitle {
    font-size: 14px;
  }

  .one-tag-list .post-preview .post-meta {
    font-size: 18px;
  }
}

.post-container img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1.5em auto 1.6em auto;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: inherit;
}

.navbar-default .navbar-toggle:active {
  background-color: rgba(255, 255, 255, 0.25);
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  padding: 19px 16px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 50%;
}

.navbar-default .navbar-toggle .icon-bar {
  width: 18px;
  border-radius: 0;
  background-color: #000;
}

.navbar-default .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 3px;
}

.nav-board {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  padding-bottom: 30%;
  background-color: #fff;
  overflow-y: hidden;
}

.nav-board .logo {
}

.nav-board .nav-menu {
  margin-top: 100px;
}

.nav-board .nav-menu-item {
  width: 76px;
  height: auto;
  line-height: 20px;
  text-align: center;
  margin-top: 12px;
  margin-left: 16px;
  cursor: pointer;
  text-decoration: none;
}

.nav-board .nav-menu-item a {
  text-decoration: none;
  color: #000000;
  font-family: "Inter-Medium";
  font-size: 20px;
}

.nav-board .nav-all-req-btn {
  margin: auto;
  text-align: center;
  width: 340px;
  height: 40px;
  line-height: 40px;
  background: #000000;
  border-radius: 2000px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
}

.nav-board .nav-all-req-btn a {
  color: #ffffff;
  font-family: "Inter-Medium";
  font-size: 15px;
}

.nav-board .nav-all-req-btn:hover {
  background-color: #1e1e1e;
}

.nav-board .nav-all-req-logIn {
  margin: auto;
  text-align: center;
  width: 340px;
  height: 40px;
  line-height: 40px;
  background: #000000;
  border-radius: 2000px;
  margin-top: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 28%;
}

.nav-board .nav-all-req-logIn a {
  color: #ffffff;
  font-family: "Inter-Medium";
  font-size: 15px;
}

.nav-board .nav-all-req-logIn:hover {
  background-color: #1e1e1e;
}

.nav-board .close {
  position: absolute;
  right: 30px;
  top: 18px;
  opacity: 1;
}

.comment {
  margin-top: 20px;
}

.comment #ds-thread #ds-reset a.ds-like-thread-button {
  border: 1px solid #ddd;
  border-radius: 0;
  background: #fff;
  box-shadow: none;
  text-shadow: none;
}

.comment #ds-thread #ds-reset li.ds-tab a.ds-current {
  border: 1px solid #ddd;
  border-radius: 0;
  background: #fff;
  box-shadow: none;
  text-shadow: none;
}

.comment #ds-thread #ds-reset .ds-textarea-wrapper {
  background: 0 0;
}

.comment #ds-thread #ds-reset .ds-gradient-bg {
  background: 0 0;
}

#ds-smilies-tooltip ul.ds-smilies-tabs li a {
  background: #fff !important;
}

.page-fullscreen .intro-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.page-fullscreen #tag-heading {
  position: fixed;
  left: 0;
  top: 0;
  padding-bottom: 150px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-fullscreen footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 20px;
  opacity: 0.6;
  color: #fff;
}

.page-fullscreen footer .copyright-box {
  color: #fff;
}

.page-fullscreen footer .copyright-box a {
  color: #fff;
}

.page-fullscreen footer .copyright-box a:hover {
  color: #ddd;
  text-decoration: none;
}

.catalog-container {
  padding: 0px;
}

.side-catalog {
  display: block;
  overflow: auto;
  height: 100%;
  padding-bottom: 40px;
  width: 195px;
}

.side-catalog.fixed {
  position: fixed;
  top: -21px;
}

.side-catalog.fold .catalog-toggle::before {
  content: "+";
}

.side-catalog.fold .catalog-body {
  display: none;
}

.side-catalog .catalog-toggle::before {
  content: "−";
  position: relative;
  margin-right: 5px;
  bottom: 1px;
}

.side-catalog .catalog-body {
  position: relative;
  list-style: none;
  height: auto;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 5px;
  text-indent: 0;
}

.side-catalog .catalog-body li {
  position: relative;
  list-style: none;
}

.side-catalog .catalog-body li a {
  padding-left: 10px;
  max-width: 180px;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.side-catalog .catalog-body .h1_nav {
  margin-left: 0;
  font-size: 13px;
  font-weight: bold;
}

.side-catalog .catalog-body .h2_nav {
  margin-left: 6px;
  font-size: 13px;
  font-weight: bold;
}

.side-catalog .catalog-body .h3_nav {
  margin-left: 12px;
  font-size: 13px;
  font-weight: bold;
}

.side-catalog .catalog-body .h4_nav {
  margin-left: 18px;
  font-size: 12px;
}

.side-catalog .catalog-body .h4_nav a {
  max-width: 170px;
}

.side-catalog .catalog-body .h5_nav .h6_nav {
  margin-left: 18px;
  font-size: 12px;
}

.side-catalog .catalog-body .h5_nav .h6_nav a {
  max-width: 170px;
}

.side-catalog .catalog-body .active {
  border-radius: 4px;
  background-color: #f5f5f5;
}

.side-catalog .catalog-body .active a {
  color: #0085a1 !important;
}

@media (max-width: 1200px) {
  .side-catalog {
    display: none;
  }
}


.unknow-page-box {width: 411px;margin: 200px auto;text-align: center;}
.unknow-page-box img{width: 48px;;}
.unknow-page-box .unknow-page-title {font-size: 14px;line-height: 18px;font-family: "Inter-SemiBold";margin-top: 16px;}
.unknow-page-box .unknow-page-content {font-size: 12px;line-height: 15px;font-family: "Inter-Regular";margin-top: 12px;}
.unknow-page-box .unknow-page-a {margin-top: 32px;}
.unknow-page-box .unknow-page-a a{font-size: 14px;line-height: 17px;font-family: "Inter-Regular";background: #3147FF;border-radius: 8px;padding: 7.5px 16px;color: #ffffff;}
.unknow-page-box .unknow-page-a a:hover {background-color: #293EEA;}

@media (max-width: 500px) {
    .unknow-page-box {width: 100%;padding: 0 25px;}
  }