/* 定义字体 */
@font-face{
    font-family: Inter-Black;
    src: url("./Inter-Black.ttf");
}
/* 定义字体 */
@font-face{
    font-family: Inter-Bold;
    src: url("./Inter-Bold.ttf");
}
/* 定义字体 */
@font-face{
    font-family: Inter-ExtraBold;
    src: url("./Inter-ExtraBold.ttf");
}
/* 定义字体 */
@font-face{
    font-family: Inter-ExtraLight;
    src: url("./Inter-ExtraLight.ttf");
}
/* 定义字体 */
@font-face{
    font-family: Inter-Light;
    src: url("./Inter-Light.ttf");
}
/* 定义字体 */
@font-face{
    font-family: Inter-Medium;
    src: url("./Inter-Medium.ttf");
}
/* 定义字体 */
@font-face{
    font-family: Inter-Regular;
    src: url("./Inter-Regular.ttf");
}
/* 定义字体 */
@font-face{
    font-family: Inter-SemiBold;
    src: url("./Inter-SemiBold.ttf");
}
/* 定义字体 */
@font-face{
    font-family: Inter-Thin;
    src: url("./Inter-Thin.ttf");
}